{% extends "base.html" %}
{% load staticfiles %}

{% block head_site_title %}
    <title>404</title>
{% endblock %}

{% block body_content %}

    <div class="row" style="padding-top: 70px">
        <div class="container center-block">
            <div class="col-md-2"></div>
            <div class="col-md-8 col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">404错误</h3>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item title">
                            <img src="{% static "image/404.png" %}">
                            <br>
                            <b>咦?你要的页面找不到啦???</b>
                        </li>

                    </ul>
                </div>
            </div>

            <div class="col-md-2">
            </div>

        </div>

    </div>

{% endblock %}