{% extends "base.html" %}

{% block body_content %}
    <div class="row" style="padding-top: 70px">
        <div class="container center-block">
            <div class="col-md-2"></div>
            <div class="col-md-8 col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">关于</h3>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item title">
                            <div id="about-me">
                                {{ site_about_me|safe }}
                            </div>
                            {#                            <div>#}
                            {#                                <div id="SOHUCS"></div>#}
                            {#                                <script type="text/javascript">#}
                            {#                                    (function () {#}
                            {#                                        var appid = 'cysUs2V1U';#}
                            {#                                        var conf = '0052d421f0ab05212f59aa8620ccf1b4';#}
                            {#                                        var width = window.innerWidth || document.documentElement.clientWidth;#}
                            {#                                        if (width < 960) {#}
                            {#                                            window.document.write('<script id="changyan_mobile_js" charset="utf-8" type="text/javascript" src="http://changyan.sohu.com/upload/mobile/wap-js/changyan_mobile.js?client_id=' + appid + '&conf=' + conf + '"><\/script>');#}
                            {#                                        } else {#}
                            {#                                            var loadJs = function (d, a) {#}
                            {#                                                var c = document.getElementsByTagName("head")[0] || document.head || document.documentElement;#}
                            {#                                                var b = document.createElement("script");#}
                            {#                                                b.setAttribute("type", "text/javascript");#}
                            {#                                                b.setAttribute("charset", "UTF-8");#}
                            {#                                                b.setAttribute("src", d);#}
                            {#                                                if (typeof a === "function") {#}
                            {#                                                    if (window.attachEvent) {#}
                            {#                                                        b.onreadystatechange = function () {#}
                            {#                                                            var e = b.readyState;#}
                            {#                                                            if (e === "loaded" || e === "complete") {#}
                            {#                                                                b.onreadystatechange = null;#}
                            {#                                                                a()#}
                            {#                                                            }#}
                            {#                                                        }#}
                            {#                                                    } else {#}
                            {#                                                        b.onload = a#}
                            {#                                                    }#}
                            {#                                                }#}
                            {#                                                c.appendChild(b)#}
                            {#                                            };#}
                            {#                                            loadJs("http://changyan.sohu.com/upload/changyan.js", function () {#}
                            {#                                                window.changyan.api.config({appid: appid, conf: conf})#}
                            {#                                            });#}
                            {#                                        }#}
                            {#                                    })(); </script>#}
                            {#                            </div>#}
                        </li>

                    </ul>
                </div>
            </div>

            <div class="col-md-2">
            </div>

        </div>

    </div>

{% endblock %}




{% block footer %}
    <footer id="for-footer">
        <hr/>
        Developed by <a href="http://www.tangyingkang.com">Eacon</a>
        |Powered by <a href="https://www.djangoproject.com/">Django</a>
        |Hosted on <a href="https://www.aliyun.com">Aliyun</a>
        |CDN by <a href="http://www.qiniu.com/">Qiniu</a>
        <br>
        本站访问次数: {{ site_visit }} | Copyright&copy; 2015-2017 tangyingkang.com
        <br/>
    </footer>
{% endblock %}
