{% extends "base.html" %}
{% load staticfiles %}
<html>

{% block head %}
    <head>

        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
        <meta name="keywords" content="汤英康, Eacon, 博客, 技术博客, Python, 程序员, 软件开发"/>
        <meta name="description" content="Eacon的个人博客"/>
        {% if md_object.md_keywords %}
            <meta name="keywords" content="{{ md_object.md_keywords }}"/>
        {% else %}
            <meta name="keywords" content="{{ md_object.tags }}"/>
        {% endif %}

        <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
        <link href="{% static "css/article.css" %}" rel="stylesheet" type="text/css">
        <link href="{% static "css/pygments.css" %}" rel="stylesheet" type="text/css">

        <link rel="shortcut icon" href="{% static "image/logo/eacon.jpg" %}">
        <script src="{% static "js/doComments.js" %}"></script>

        {% block head_site_title %}
            <title>{{ md_object.md_filename }}</title>
        {% endblock %}

    </head>
{% endblock %}

{% block body_block %}

    <body id="id-body-top">
    <div align="center">

        <div id="id-nav-bar" class="navbar-font" style="display: none">

            {% block body_nav %}

                <nav class="navbar navbar-default navbar-fixed-top" style="opacity: .8" role="navigation">

                    <div class="container-fluid">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse"
                                    data-target="#bs-example-navbar-collapse-1">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            {% block block_site_title %}
                                <a class="navbar-brand" href="#ds-comments" onclick="showComments()" title="猛戳这里狂喷本文"
                                   id="tu-cao">吐槽本文</a>
                            {% endblock %}
                        </div>

                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav navbar-right">

                                <li><a href="{{ url_prefix }}/">主页</a></li>
                                <li><a href="{{ url_prefix }}/about/">关于</a></li>

                                <li><a href="{{ url_prefix }}/category/techblog/">技术博客</a></li>
                                <li style="opacity: 100%; color: black"><a href="{{ url_prefix }}/tag/">标签</a></li>
                                <li><a href="{{ url_prefix }}/archive/">归档</a></li>

                                <li><a href="{{ url_prefix }}/weibo/">微博</a></li>



                            </ul>
                        </div><!-- /.navbar-collapse -->
                    </div><!-- /.container-fluid -->

                </nav>
            {% endblock %}

        </div>

        <div class="col-md-2"></div>
        <div class="col-md-8 col-sm-12">
            {% block body_content %}

                <div class="article-body">
                    {{ article_html|safe }}

                    <br>
                    <hr>


                </div>


                <footer id="for-footer">
                    <hr/>
                    <a href="/">博客首页</a>
                    | 本文访问次数: {{ md_object.md_visit }}
                    | <a href="#id-body-top">回到顶部</a>
                    <br/><br>
                </footer>

            {% endblock %}

        </div>
        <div class="col-md-2"></div>

    </div>


    </body>

{% endblock %}


</html>
