{%  load duoshuo_tags %}
<html>
  <head>

    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
{#    <link href="/static/css/home.css" rel="stylesheet" type="text/css">#}
    <link href="/static/css/article.css" rel="stylesheet" type="text/css">
{#    <link rel="alternate" type="application/atom+xml" href="/atom.xml" title="Atom feed">#}
    <link rel="shortcut icon" href="/static/image/eacon.jpg">

    <title>{{ article_md_object.md_filename }}</title>

  </head>

    <body>
        <div align="center">
            <div class="navbar-font">
        <nav class="navbar navbar-default navbar-fixed-top" style="opacity: .9" role="navigation">

        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">{{ site_title }}</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
{#                <li><a href="http://www.zhihu.com/people/tyingk" target="_blank">知乎</a></li>#}
{#                <li><a href="https://github.com/EaconTang" target="_blank">GitHub</a></li>#}
                    <li id="tu-cao"><a href="#ds-comments" onclick="showComments()" title="猛戳这里对本文进行吐槽">吐槽</a></li>
                    <li><a href="/tag/">标签</a></li>
                    <li><a href="/category/techblog/">技术博客</a></li>
                    <li><a href="/">主页</a></li>

                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->

        </nav>

    </div>

        <div class="article-body">
            {{ article_html|safe }}
        </div>

        <div class="duoshuo-comment">
            <div id="ds-comments" style="display: none">
                {% duoshuo_comments %}
            </div>
        </div>

        </div>

    <script>
        function showComments(){
            document.getElementById("ds-comments").style.display = "inline";
            document.getElementById("tu-cao").setAttribute("class", "active");
        }
        function hideComments(){
            document.getElementById("ds-comments").style.display = "none";
        }
    </script>
    </body>
</html>
