{% extends "base.html" %}

{% block body_content %}

    <div class="row" style="padding-top: 70px">
        <div class="container center-block">
            <div class="col-md-2"></div>
            <div class="col-md-8 col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">所有博文({{ blog_list.count }})</h3>

                    </div>
                    <ul class="list-group">
                        {% for blog in blog_list %}
                            <li class="list-group-item title">
                                <div>
                                    <div>
                                        <p class="each-blog">
                                        <p id="each-blog-title">
                                            <a href="{{ url_prefix }}/post/{{ blog.md_url }}/"
                                               title="{{ blog.md_summary }}">{{ blog.md_filename }}</a>
                                        </p>
                                        </p>
                                        <p class="each-blog-info">
                                            时间: {{ blog.md_pub_time | date:"Y-m-j" }} | 阅读: {{ blog.md_visit }} |
                                            标签: {{ blog.tags }}
                                        </p>

                                    </div>
                                </div>

                            </li>
                        {% endfor %}

                    </ul>
                </div>
            </div>

            <div class="col-md-2">
            </div>

        </div>

    </div>

{% endblock %}

