{% extends "base.html" %}

{% block body_content %}

    <div class="row" style="padding-top: 70px">
        <div class="container center-block">
            <div class="col-md-6 col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">标签列表({{ tags_count }})</h3>
                    </div>
                    <ul class="list-group" style="text-align: center">
                        {% for tag in tags %}
                            <li class="list-group-item title">
                                <p class="each-tag"><a
                                        href="{{ url_prefix }}/tag/{{ tag.md_tag_url }}/">{{ tag.md_tag_name }}({{ tag.blogs_for_tagURL }})</a>
                                </p>
                            </li>
                        {% endfor %}

                    </ul>
                </div>
            </div>

            <div class="col-md-6 col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">技术博客-标签列表({{ techblog_tags_count }})</h3>
                    </div>
                    <ul class="list-group" style="text-align: center">
                        {% for tag in techblog_tags %}
                            <li class="list-group-item title">
                                <p class="each-tag"><a
                                        href="{{ url_prefix }}/tag/{{ tag.md_tag_url }}/">{{ tag.md_tag_name }}({{ tag.blogs_for_tagURL }})</a>
                                </p>
                            </li>
                        {% endfor %}

                    </ul>
                </div>
            </div>
        </div>
    </div>



{% endblock %}