{% extends "article.html" %}
{% load duoshuo_tags %}
{% load staticfiles %}

<html>

{% block head_site_title %}

    <title>吐槽本微博</title>

{% endblock %}

{% block body_block %}

    <body>
    <div align="center">

        <div class="navbar-font">

            {% block body_nav %}

                <nav class="navbar navbar-default navbar-fixed-top" style="opacity: .8" role="navigation">

                    <div class="container-fluid">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse"
                                    data-target="#bs-example-navbar-collapse-1">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="#ds-comments">吐槽本微博</a>
                        </div>

                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav navbar-right">

                                <li><a href="{{ url_prefix }}/">主页</a></li>
                                <li><a href="{{ url_prefix }}/archive/">归档</a></li>
                                <li><a href="{{ url_prefix }}/tag/">标签</a></li>
                                <li><a href="{{ url_prefix }}/weibo/">微博</a></li>
                                <li><a href="{{ url_prefix }}/about/">关于</a></li>
                                <li><a href="{{ url_prefix }}/category/techblog/">技术博客</a></li>

                            </ul>
                        </div><!-- /.navbar-collapse -->
                    </div><!-- /.container-fluid -->

                </nav>
            {% endblock %}

        </div>

        <div class="col-md-2"></div>
        <div class="col-md-8 col-sm-12">

        {% block body_content %}
            <div class="article-body-weibo">
                {{ weibo_html|safe }}

                <div class="weibo-info">
                    <div class="col-md-4">
                    </div>
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        发表于: {{ wb_pub_time | date:"Y-m-j H:i:s" }}
                    </div>
                    <br/>

                </div>
            </div>

            <div class="duoshuo-comment">
                <div id="ds-comments">
                    {% duoshuo_comments %}
                </div>

            </div>


        {% endblock %}

        </div>
        <div class="col-md-2"></div>

    </div>


    </body>

{% endblock %}

</html>
