.article-body {
    text-align: left;
    font-family:"lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
    font-size: 18px;
    margin: 5% 0% 5% 0%;
    padding: 2% 5% 2% 5%;
    /*width: 60%;*/
    line-height: 180%;
    /*width: 60%;*/
    /*min-width: 600px;*/
    border: 2px solid LightGrey;
    /*background-color: #f2efea;*/
}

.article-body-weibo {
    text-align: center;
    font-family:"lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
    font-size: 18px;
    margin: 5% 0% 5% 0%;
    padding: 2% 5% 2% 5%;
    line-height: 150%;
    /*border: 2px solid LightGrey;*/
}

.duoshuo-comment {
    padding: 2% 5% 5% 5%;
    width: 70%;
    font-family:"lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}

.navbar-font {
    font-family: STFangSong, Helvetica, Arial, Vernada, Tahoma, STXihei, "Microsoft YaHei", "Songti SC", SimSun, Heiti, sans-serif;
    font-size: 18px;
}

H1 {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, Helvetica, STKaiti, SimSun, serif;
    margin-top: 10px;
    margin-bottom: 30px;
    padding: 5px;
    border-bottom: 2px LightGrey solid;
    width: 98%;
    line-height: 160%;
    color: #666666;
    text-align: center;
}

H2 {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, Helvetica, STKaiti, SimSun, serif;
    margin-top: 20px;
    margin-bottom: 30px;
    padding: 5px;
    border-bottom: 1px LightGrey solid;
    width: 98%;
    line-height: 150%;
    color: #666666;
    text-align: center;
}


H3 {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, Helvetica, STKaiti, SimSun, serif;
    margin-top: 20px;
    margin-bottom: 20px;
    border-bottom: 1px LightGrey dotted;
    width: 98%;
    line-height: 150%;
    color: #666666;
}


H4 {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, Helvetica, STKaiti, SimSun, serif;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 98%;
    line-height: 150%;
    color: #666666;
}


/*li {*/
    /*margin-left: 10px;*/
/*}*/


/*blockquote {*/
    /*border-left: 4px lightgrey solid;*/
    /*padding-left: 5px;*/
    /*margin-left: 20px;*/
/*}*/


/*pre {*/
    /*font-family: Inconsolata, Consolas, "DEJA VU SANS MONO", "DROID SANS MONO", Proggy, monospace;*/
    /*font-size: 75%;*/
    /*border: solid 1px lightgrey;*/
    /*background-color: Ivory;*/
    /*padding: 5px;*/
    /*line-height: 130%;*/
    /*margin-left: 10px;*/
    /*width: 95%;*/
/*}*/


/*code {*/
    /*font-family: Inconsolata, Consolas, "DEJA VU SANS MONO", "DROID SANS MONO", Proggy, monospace;*/
    /*font-size: 90%;*/
/*}*/


/*a {*/
    /*text-decoration: none;*/
    /*cursor: crosshair;*/
    /*border-bottom: 1px dashed Red;*/
    /*padding: 1px;*/
    /*color: black;*/
/*}*/


/*a:hover {*/
	/*background-color: LightGrey;*/
/*}*/


img {
    /*box-shadow: 0 0 10px #555;*/
    /*border-radius: 6px;*/
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    /*-webkit-box-shadow: 0 0 10px #555;*/
    /*width: 100%;*/
    max-width: 100%;
}

img.displayed {
    /*display: block;*/
    margin-left: auto;
    margin-right: auto;
}

/*hr {*/
    /*color: LightGrey;*/
/*}*/

/*p.notice {*/
  /*color: #AA4433;*/
  /*font-size: 14px;*/
/*}*/


a:visited {
    color: darkcyan;
}

a:link {
    color: darkcyan;
}

.weibo-info {
    font-family: STFangSong, Helvetica, Arial, Vernada, Tahoma, STXihei, "Microsoft YaHei", "Songti SC", SimSun, Heiti, sans-serif;
    font-size: 14px;
    color: darkgray;
}

table, th, td {
    border:1px solid gray;
}
th {
    padding: 5px 10px 5px 10px;
}
td {

    padding: 5px 10px 5px 10px;
}
