
body {
    font-family: STFangSong, Helvetica, Arial, Vernada, Tahoma, STXihei, "Microsoft YaHei", "Songti SC", SimSun, Heiti, sans-serif;
    font-size: 18px;
}

body html {
    height: 100%;
    margin: 0;
    padding: 0;
}

#main-body {
    min-height: 95%;
    height: auto;
    height: 95%;
    position: relative;
}

#main-content {
    margin: 0 auto;
    padding-bottom: 30px;
}

#for-footer {
    margin-top: -30px;
    height: 30px;
    min-height: 5%;
    clear: both;
    position: relative;
    text-align: center;
}

.title a {
    display: block;
}

.title {
    cursor: pointer;
}

li.title:hover {
    background-color: #eee;
}

.panel {
    border-radius: 0;
    text-align: center;
}

.panel-default > .panel-heading {
	background-image: none;
	background-color: #fff;
}

.navbar-default {
	background-image: none;
	background-color: #fff;
  box-shadow: none;
}

.each-blog {
    font-size: 20px;
    margin: auto;
}

.wraper {
    min-height: 100%;
}

.wraper-main {
    padding-bottom: 30px;
    overflow: hidden;
}

.for-footer {
    margin-top: -30px;
    height: 30px;
}

.duoshuo {
    text-align: center;
    width: 60%;
    margin: 5% 20% 5% 20%;
}
