
body {
    font-family: STFangSong, Helvetica, Arial, Vernada, Tahoma, STXihei, "Microsoft YaHei", "Songti SC", SimSun, Heiti, sans-serif;
    font-size: 18px;
}

body html {
    height: 100%;
    margin: 0;
    padding: 0;
}

#nav-bar {
    filter:alpha(opacity=20); /*ie透明度20%*/
    -moz-opacity:0.8;        /*Moz + FF 透明度20%*/
    opacity:0.8; /*支持CSS3的浏览器(FF1.5也支持)透明度20%*/
}

#main-body {
    height: auto;
    height: 90%;
    position: relative;
    filter:alpha(opacity=20); /*ie透明度20%*/
    -moz-opacity:0.8;        /*Moz + FF 透明度20%*/
    opacity:0.8; /*支持CSS3的浏览器(FF1.5也支持)透明度20%*/
}

#main-content {
    margin: 0 auto;
    padding-bottom: 40px;
}

#for-footer {
    margin-top: -40px;
    height: 30px;
    clear: both;
    position: relative;
    text-align: center;
    font-size: 15px;
    color: ghostwhite;
}

.title a {
    display: block;
}

.title {
    cursor: pointer;
}

li.title:hover {
    background-color: #eee;
}

.panel {
    border-radius: 0;
}

.panel-default > .panel-heading {
	background-image: none;
	/*background-color: #fff;*/
    text-align: center;
    color: gray;
}

.panel-title {
    font-size: 18px;
}

.each-tag {
    text-align: center;
}

.navbar-default {
	background-image: none;
	background-color: #fff;
    box-shadow: none;
}

.duoshuo {
    text-align: center;
    width: 60%;
    margin: 5% 20% 5% 20%;
}
